@page
@model ForgotPasswordConfirmation
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Succedded"].Value;
}

<p>
    @Localizer["Please check your email to reset your password."]
</p>

