@using Microsoft.Extensions.Configuration
@inject IConfiguration config
<div class="page__title">
    <a href="/"><div class="title__logo"></div></a>
    <span class="title__name">@ViewData["Title"]</span>
</div>
