@page
@model ResetAuthenticatorModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ResetAuthenticationKey"].Value;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="alert warning" role="alert">
    <p>
        <strong>@Localizer["IfYouResetAuthentication"]</strong>
    </p>
    <p>
        @Localizer["ThisProcessDisables2FA"]
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <div class="reset__button">
            <button type="submit" id="reset-authenticator-button">@Localizer["ResetAuthenticationKey"]</button>
        </div>
    </form>
</div>